@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn-main {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  margin: 40px 10px 0 0px;
  /* display: block; */
  position: absolute;
  /* top: auto; */
  left: 10px;
  /* background-repeat: repeat; */
}

.btn-main-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn-main-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-main-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-main-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-main-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-main-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}


@media screen and (max-width: 480px){
  .btn-main {
    margin: 40px 0 0 50px;
    width: 200px;
  }
}

@media screen and (max-width: 375px){
  .btn-main {
    margin: 40px 0 0 20px;
    width: 200px;
  }
}