.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50vh !important; */
    min-width: 670px;
    /* width: 100vw;
    height: 100vh; */
    /* background-image: url("../page/assets/Home/bg.jpg"); */
    background-color: #293242;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 605px;
    /* height: auto; */
}

@media screen and (max-width: 480px){
    .home-container {
        min-width: 390px;
        /* min-height: 600px;
         */
        height: 900px;
    }
}

@media screen and (max-width: 360px) {
    .home-container {
        min-width: 340px;
    }
}
