.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24 px 0;
}
.profile-details {
    margin: 60px 0 0 0;
}
.profile-details-role h1 {
    font-size: 40px;
    font-family: cursive;
}
/* 
.profile-options {
    display: flex;
    justify-content: space-between;
} */


.primary-text {
    color: #fff;
}

.highlighted-text {
    color: darkorange;
}

.profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 30px 0px 0 250px;
}

.profile-picture-bg {
    height: 92%;
    width: 92%;
    background-image: url("../page/assets/Home/profilephoto.jpg");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-bg:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
}

.colz .colz-icon i{
    color: white;
    padding: 8px;
    padding-left: 0px;
}

.colz .colz-icon i:hover{
    transform: scale(1.5);
}
/* 
@media screen and (max-width: 1110px){
    .profile-picture {
        margin: 0 0px 0 80px;
    }

    .profile-details-name {
        font-size: 20px;
    }

    .profile-details-role .primary-text{
        font-size: 12px;
    }

    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
} */
/* 
@media screen and (max-width: 910px){
    .profile-picture {
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
} */


@media screen and (max-width: 480px){
    .profile-container {
        display: flex;
        min-width: 390px;
    }

    .profile-picture {
        margin: 0px 0px 0 0px;
        height: 300px;
        width: 300px;
    }

    .profile-parent {
        flex-direction: column-reverse;
        margin: 500px 15px 0 0;
        height: 600px;
    }

    .profile-options {
        display: flex;
        justify-content: space-between;
    }

    .profile-details {
        margin: 30px 0px 0 0px;
        width: 100%;
    }

    .profile-options .highlighted-btn {
        margin: 0 !important;
    }

    .profile-options .profile-details-role {
        text-align: center;
    }

    .profile-details-role h1 {
        font-size: 25px;
        font-family: cursive;
    }
}


@media screen and (max-width: 360px){
    .profile-container {
        display: flex;
        min-width: 340px;
    }

    .profile-picture {
        /* margin: 0 !important; */
        margin: 0 10px 0 0px;
        height: 250px;
        width: 250px;
    }

    .profile-parent {
        flex-direction: column-reverse;
        margin: 500px 0 0 0;
    }

    .profile-options {
        display: flex;
        justify-content: space-between;
    }

    .profile-details {
        margin: 15px 0px 0 0px;
        width: 100%;
        /* width: 90%; */
    }

    .profile-options .highlighted-btn {
        margin: 0 !important;
    }

    .profile-options .profile-details-role {
        text-align: center;
    }

    .profile-details-role h1 {
        font-size: 20px;
        font-family: cursive;
    }
    .profile-role-tagline {
        font-size: 15px;
    }
}
/* 
@media screen and (max-width: 480px){

    .profile-picture {
        margin: 0 !important;
    }

    .profile-details {
        width: 90%;
    }
} */